* {
  box-sizing: border-box;
}
.app .inputs-wrapper {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.input-area{
  padding: 20px;
  box-shadow: 0 0 2px #7798ff ;
  width: 210px
}

.common {
  width: 420px;
  margin: auto;
  box-shadow: 0 0 2px #7798ff ;
}
